// .videoCard {
//     width: 100%;
//     height: auto;
// }

.card {
    margin: 5px 0 15px 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.2);
}

.shortestP {
    max-height: 100px;
    overflow-y: auto;
    font-size: map-get($font-size, "medium") !important;
}

.videoContainer {
    position: relative;
    width: 560px;
    /* Set the initial width of the video container */
    height: 315px;
    /* Set the initial height of the video container */
}

.videoCard {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    /* Add transition for smooth animation */
}

.videoContainer:hover .videoCard {
    transform: scale(1.5);
    /* Increase the scale of the video card on hover */
}